import(arules)
import(igraph)
importFrom(seriation, seriate, ser_permutation, set_seriation_method)
importFrom(scatterplot3d, scatterplot3d)
importFrom(vcd, mosaic)

export(abbreviate, saveAsGraph)

S3method(plot, rules)
S3method(plot, itemsets)
S3method(plot, grouped_matrix)
S3method(abbreviate, default)
S3method(abbreviate, transactions)
S3method(abbreviate, rules)
S3method(abbreviate, itemsets)

